.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}
.text-base {
  font-size: 16px;
}

.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.text-sub-color {
  color: #818c99;
}

.justify-center {
  justify-content: center;
}

.p-0 {
  padding: 0;
}

.p-4 {
  padding: 16px;
}
.pb-0 {
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.mx-4 {
  margin-left: 16px;
  margin-right: 16px;
}

.px-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.m-4 {
  margin: 16px;
}

.bg-plus {
  background-color: #2d81e0;
}

.gap-1 {
  gap: 4px;
}

.gap-1\.5 {
  gap: 6px;
}

.gap-2 {
  gap: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mr-3 {
  margin-right: 12px;
}

.rounded-md {
  border-radius: 6px;
}

.rounded-lg {
  border-radius: 8px;
}

.RichCell__content-after {
  justify-content: center;
}

.HorizontalCell__image {
  width: 224px;
  height: 84px;
  position: relative;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.bg-search {
  background-color: var(--vkui--color_search_field_background);
}

.h-9 {
  height: 36px;
}

.vkuiSearch--vkcom .vkuiSearch__in {
  padding-top: 0;
  padding-bottom: 0;
}

.vkuiSearch__icon {
  align-items: baseline;
}

.line-height-4 {
  line-height: 16px;
}

.text-blue {
  color: #2d81e0;
}

.relative {
  position: relative;
}

.rounded-ball-left {
  position: absolute;
  left: 0;
  top: 50%;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 9999px;
  transform: translateY(-50%);
}
.rounded-ball-right {
  position: absolute;
  right: 0;
  top: 50%;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 9999px;
  transform: translateY(-50%);
}

.horizontal_dotted_line {
  margin-top: 12px;
  border-bottom: 1px dashed #222222;
  height: 2px;
}

.text-ellipsis {
  text-overflow: ellipsis;
}
